// Mixins
@mixin tablet {
    @media (min-width: 768px) and (max-width: 1279px) {
        @content;
    }
}



.hero {
    display: flex;
    position: relative;
   
    &__title { //something is not working here to get the title to appear front
        font-family: "AvenirNextLTPro-Demi";
        color: white;
        font-size: 3rem;
        margin: 0;
        display: flex;
        align-self: flex-end;
        margin-left: 1rem;
        z-index: 100;
      
        @include tablet {
          margin-left: 2.25rem;
        }
    }

    &__img {
        width: 100%;
        height: auto;
        object-fit: cover;
        position: relative;
    }

    &__img--overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #323232;
        opacity: 0.5;
        z-index: 1;
    }
}