// Mixins
@mixin tablet {
    @media (min-width: 768px) and (max-width: 1279px) {
        @content;
    }
}



.hero {
    display: flex;
    
    &__title {
        font-family: "AvenirNextLTPro-Demi";
        color: white;
        font-size: 3rem;
        position: absolute;
        bottom: 12rem;
        left: 1rem; 

        @include tablet {
            bottom: 9rem;
        }
    }

    &__img {
        height: 80vh;
        width: 100vw;
    }

    &__img--overlay {
        inset: 0;
        position: absolute; 
        top: 7rem;
        background: rgba(57, 57, 57, 0.5);
     /* center overlay text */
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;

        @include tablet {
            top: 10.1rem;
        }
    }
}