.header {
  background-color: #323232;
  font-family: "AvenirNextLTPro-Regular";
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }
}
.header__title {
  margin: 0;
  padding: 1.5rem 0 1.5rem 0;
  color: white;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 3rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__title {
    font-size: 2.5rem;
    justify-content: flex-start;
    margin: 0 0 0 2.25rem;
  }
}
.header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
  margin: 0;
}
.header__list-item {
  list-style: none;
  color: white;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__list-item {
    font-size: 1.5rem;
    margin: 0 0 0 3.5rem;
  }
}

@media (min-width: 1280px) and (max-width: 5000px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 0 7rem;
  }
}
@media (min-width: 1280px) and (max-width: 5000px) {
  .header__title {
    font-size: 2.5rem;
    justify-content: flex-start;
    margin: 0 0 0 2.25rem;
  }
}
@media (min-width: 1280px) and (max-width: 5000px) {
  .header__list-item {
    font-size: 1.5rem;
    margin: 0 0 0 3.5rem;
  }
}

.hero {
  display: flex;
  position: relative;
}
.hero__title {
  font-family: "AvenirNextLTPro-Demi";
  color: white;
  font-size: 3rem;
  margin: 0;
  display: flex;
  align-self: flex-end;
  margin-left: 1rem;
  z-index: 100;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hero__title {
    margin-left: 2.25rem;
  }
}
.hero__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.hero__img--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #323232;
  opacity: 0.5;
  z-index: 1;
}
@media (min-width: 1280px) and (max-width: 5000px) {
  .hero__title {
    padding: 0 0 0 7rem;
  }
}

.body {
  padding: 3rem 1rem 2rem 1rem;
}
.body__title {
  font-family: "AvenirNextLTPro-Demi";
  font-size: 3rem;
  margin: 0;
  padding: 1.5rem 0 1rem 0rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .body__title {
    padding: 1.5rem 0 1rem 1.25rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .body__container {
    padding: 0 5rem;
  }
}
.body__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.body__text--bold {
  font-family: "AvenirNextLTPro-Demi";
  margin: 0;
  padding: 1rem 0 0 0;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.body__text--quote {
  margin-top: 0;
}
.body__subtitle {
  font-family: "AvenirNextLTPro-Regular";
  font-size: 1.5rem;
  margin: 0;
  padding: 1.5rem 0 1rem 0;
}
.body__text {
  font-family: "AvenirNextLTPro-Regular";
  line-height: 1.75rem;
  margin: 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .body__container-text {
    display: flex;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .body__text--left {
    margin: 0 3rem 0 0;
  }
}

@media (min-width: 1280px) and (max-width: 5000px) {
  .body {
    padding: 3rem 7rem 2rem 7rem;
  }
}
@media (min-width: 1280px) and (max-width: 5000px) {
  .body__container {
    padding: 0 7rem;
  }
}
@media (min-width: 1280px) and (max-width: 5000px) {
  .body__container-text {
    display: flex;
  }
}

.section {
  background-color: #FAFAFA;
  padding: 0 0 1rem 0;
}
.section__title {
  padding: 1.5rem 0 2rem 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.125rem;
  font-family: "AvenirNextLTPro-Demi";
  font-size: 3rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .section__title {
    margin: 0 0 1rem 2.25rem;
  }
}
.section__gallery {
  margin: 0 1rem 0 1rem;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .section__gallery {
    margin: 0 0 0 2.25rem;
  }
}
.section__gallery-img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0 0 1rem 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .section__gallery-img {
    width: 30%;
    margin: 0 1.25rem 0 0;
  }
}

@media (min-width: 1280px) and (max-width: 5000px) {
  .section {
    padding: 0 0 0 7rem;
  }
}
@media (min-width: 1280px) and (max-width: 5000px) {
  .section__title {
    padding: 3rem 0 2rem 0;
  }
}
@media (min-width: 1280px) and (max-width: 5000px) {
  .section__gallery {
    margin: 0 1rem 0 1rem;
    display: flex;
    flex-wrap: wrap;
  }
}
.section__gallery-img {
  width: 30%;
  margin: 0 2rem 0 0;
}

.footer {
  background-color: #323232;
  color: white;
  position: relative;
}
.footer__title {
  font-family: "AvenirNextLTPro-Demi";
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0 0 0 1rem;
  padding: 1.5rem 0 1rem 0;
}
.footer__social {
  display: flex;
  margin: 0 0 0 1rem;
  padding: 1.5rem 0 1rem 0;
}
.footer__social-icon {
  margin-right: 3rem;
  height: 2.5rem;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0rem 1rem 1rem;
}
.footer__contact-text {
  font-family: "AvenirNextLTPro-Regular";
  margin: 1rem 0 0rem 0;
  font-size: 1.2rem;
}
.footer__contact-text--bold {
  font-family: "AvenirNextLTPro-Demi";
  font-size: 1.2rem;
}
.footer__contact-title {
  font-family: "AvenirNextLTPro-Regular";
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-top: 5rem;
}
.footer__credits {
  padding: 0 0 2rem 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__credits {
    padding: 3.5rem 0 3rem 1rem;
  }
}
@media (min-width: 1280px) and (max-width: 5000px) {
  .footer__credits {
    padding: 3.5rem 0 3rem 1rem;
    display: flex;
  }
}
.footer p {
  margin: 0 0 0.5rem 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 2.25rem 0 2.25rem;
  }
}
@media (min-width: 1280px) and (max-width: 5000px) {
  .footer__contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3rem 7rem 2rem 7rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__attributes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media (min-width: 1280px) and (max-width: 5000px) {
  .footer__attributes {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__contact-title {
    position: absolute;
    right: 5rem;
    top: -2rem;
  }
}
@media (min-width: 1280px) and (max-width: 5000px) {
  .footer__contact-title {
    position: absolute;
    right: 5rem;
    top: -1rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__head {
    display: flex;
    align-items: center;
    padding: 1.5rem 0 0 2.25rem;
  }
}
@media (min-width: 1280px) and (max-width: 5000px) {
  .footer__head {
    display: flex;
    align-items: center;
    padding: 1.5rem 0 0 0rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__title {
    margin: 0 2rem 0 0.5rem;
  }
}
@media (min-width: 1280px) and (max-width: 5000px) {
  .footer__title {
    padding: 3rem 3rem 2rem 7rem;
  }
}

/* Font Face Links */
@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}
body {
  margin: 0;
}