.header {
  background-color: #323232;
  font-family: "AvenirNextLTPro-Regular";
  width: 100vw;
}
.header__title {
  margin-top: 0;
  padding-top: 1.5rem;
  color: white;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.5rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__title {
    font-size: 3rem;
  }
}
.header__list {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-bottom: 0;
}
.header__list-item {
  list-style: none;
  color: white;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__list-item {
    font-size: 1.5rem;
  }
}

.hero {
  display: flex;
}
.hero__title {
  font-family: "AvenirNextLTPro-Demi";
  color: white;
  font-size: 2rem;
  position: absolute;
  bottom: 8rem;
  margin-left: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hero__title {
    bottom: 9rem;
    font-size: 3rem;
    margin-left: 2.25rem;
  }
}
.hero__img {
  height: 80vh;
  width: 100vw;
}
.hero__img--overlay {
  inset: 0;
  position: absolute;
  top: 7rem;
  background: rgba(57, 57, 57, 0.5);
  /* center overlay text */
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hero__img--overlay {
    top: 10.75rem;
  }
}

.body {
  margin-left: 1rem;
  margin-right: 1rem;
}
.body__title {
  font-family: "AvenirNextLTPro-Demi";
  font-size: 2rem;
}
.body__img {
  height: 50vh;
  width: 100vw;
}
.body__text--bold {
  font-family: "AvenirNextLTPro-Demi";
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.body__text--quote {
  margin-top: 0;
}
.body__subtitle {
  font-family: "AvenirNextLTPro-Regular";
  font-size: 1.5rem;
}
.body__text {
  font-family: "AvenirNextLTPro-Regular";
  line-height: 1.75rem;
}

/* Font Face Links */
@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}
body {
  margin: 0;
}