.header {
  background-color: #323232;
  font-family: "AvenirNextLTPro-Regular";
  width: 100vw;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }
}
.header__title {
  margin: 0;
  padding: 1.5rem 0 1rem 0;
  color: white;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 3rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__title {
    font-size: 2.5rem;
    justify-content: flex-start;
    margin: 0 0 0 2.25rem;
  }
}
.header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}
.header__list-item {
  font-size: 1.5rem;
  list-style: none;
  text-decoration: inherit;
  color: white;
  padding: 1rem 6rem 1rem 6rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__list-item {
    font-size: 1rem;
    margin: 0 0 0 3.5rem;
    padding: 2rem 0rem 2rem 0rem;
  }
}
.header__list-item--active {
  padding: 1rem 6rem 1rem 6rem;
  border-bottom: 5px white solid;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__list-item--active {
    font-size: 1rem;
    padding: 2rem 0rem 2rem 0rem;
    border-bottom: 5px white solid;
  }
}
@media (min-width: 1280px) and (max-width: 5000px) {
  .header__list-item--active {
    font-size: 1rem;
    padding: 2rem 0rem 2rem 0rem;
    border-bottom: 5px white solid;
  }
}
.header a {
  text-decoration: none;
  color: white;
}

@media (min-width: 1280px) and (max-width: 5000px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
  }
}
@media (min-width: 1280px) and (max-width: 5000px) {
  .header__title {
    font-size: 2.5rem;
    justify-content: flex-start;
    margin: 0 0 0 7rem;
  }
}
@media (min-width: 1280px) and (max-width: 5000px) {
  .header__list-item {
    font-size: 1rem;
    margin: 0 0 0 3.5rem;
    padding: 2rem 0rem 2rem 0rem;
  }
}

.footer {
  background-color: #323232;
  color: white;
  position: relative;
}
.footer__title {
  font-family: "AvenirNextLTPro-Demi";
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0 0 0 1rem;
  padding: 1.5rem 0 1rem 0;
}
.footer__social {
  display: flex;
  margin: 0 0 0 1rem;
  padding: 1.5rem 0 1rem 0;
}
.footer__social-icon {
  margin-right: 3rem;
  height: 2.5rem;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0rem 1rem 1rem;
}
.footer__contact-text {
  font-family: "AvenirNextLTPro-Regular";
  margin: 1rem 0 0rem 0;
  font-size: 1.2rem;
}
.footer__contact-text--bold {
  font-family: "AvenirNextLTPro-Demi";
  font-size: 1.2rem;
}
.footer__contact-title {
  font-family: "AvenirNextLTPro-Regular";
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-top: 5rem;
}
.footer__attributes {
  margin: 0 0 0 1rem;
}
.footer__credits {
  padding: 0 0 2rem 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__credits {
    padding: 3.5rem 0 3rem 1rem;
  }
}
@media (min-width: 1280px) and (max-width: 5000px) {
  .footer__credits {
    padding: 3.5rem 0 3rem 1rem;
    display: flex;
  }
}
.footer p {
  margin: 0 0 0.5rem 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 2.25rem 0 2.25rem;
  }
}
@media (min-width: 1280px) and (max-width: 5000px) {
  .footer__contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3rem 7rem 2rem 7rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__attributes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
  }
}
@media (min-width: 1280px) and (max-width: 5000px) {
  .footer__attributes {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__contact-title {
    position: absolute;
    right: 5rem;
    top: -2rem;
  }
}
@media (min-width: 1280px) and (max-width: 5000px) {
  .footer__contact-title {
    position: absolute;
    right: 5rem;
    top: -1rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__head {
    display: flex;
    align-items: center;
    padding: 1.5rem 0 0 2.25rem;
  }
}
@media (min-width: 1280px) and (max-width: 5000px) {
  .footer__head {
    display: flex;
    align-items: center;
    padding: 1.5rem 0 0 0rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__title {
    margin: 0 2rem 0 0.5rem;
  }
}
@media (min-width: 1280px) and (max-width: 5000px) {
  .footer__title {
    padding: 3rem 3rem 2rem 7rem;
  }
}

.hero {
  display: flex;
  position: relative;
  font-family: "AvenirNextLTPro-Regular";
}
.hero__title {
  font-family: "AvenirNextLTPro-Regular";
  color: white;
  font-size: 2.5rem;
  margin-left: 1rem;
  display: flex;
  position: absolute;
  top: 4.5rem;
  align-self: flex-end;
  z-index: 100;
}
.hero__subtitle {
  font-family: "AvenirNextLTPro-Regular";
  color: white;
  font-size: 1.5rem;
  margin-left: 1rem;
  display: flex;
  position: absolute;
  top: 1rem;
  z-index: 100;
}
.hero__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.hero__img--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #323232;
  opacity: 0.5;
  z-index: 1;
}

.shows {
  font-family: "AvenirNextLTPro-Regular";
  padding: 0 1rem 0 1rem;
  display: flex;
  flex-direction: column;
}
.shows__title {
  margin: 0;
  padding: 1.5rem 0 1rem 0;
}
.shows__button {
  height: auto;
  width: 9.375rem;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #323232;
  font-family: "AvenirNextLTPro-Demi";
  color: white;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  width: 100%;
  margin: 2rem 0 0 0;
}
.shows__card-title {
  text-transform: uppercase;
  margin: 0;
  padding: 1.5rem 0 0.5rem 0;
  font-family: "AvenirNextLTPro-Demi";
  font-size: 0.85rem;
  color: #AFAFAF;
}
.shows__card-text {
  margin: 0;
}
.shows__card-text--bold {
  margin: 0;
}

.divider {
  border-top: solid 1px #E1E1E1;
  margin: 1rem 0rem 1rem 0rem;
  width: 100%;
}

/* Font Face Links */
@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}
body {
  margin: 0;
}